<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>
    <h1>Items List</h1>
    <form method="post" action="/add">
        <input type="text" name="item" placeholder="Enter item">
        <input type="text" name="price" placeholder="Enter price">
        <input type="text" name="quantity" placeholder="Enter quantity">
        <button type="submit">Add Item</button>
    </form>
    <ul>
        {% for key, item in items.items() %}
        <li>{{ key }}: Preço: {{ item[0] }}, Quantidade: {{ item[1] }}</li>
        {% endfor %}
    </ul>
    <p>{{ ammount }}</p>
</body>
</html>
